.nav{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: 'Heebo', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  text-align: right;
}
.nav_item>a {
  color: black;
  text-decoration: none;
  padding-left: 50px;
}